<div class="row">
<div class="large-6 columns">
<p>{{ fields['field_image'].content}}</p>
</div>
<div class="large-6 columns">
<h4>{{ fields['title'].content}}</h4>
<p>
<span><i class="fi-book">{{ fields['term_node_tid'].content}}</i></span>
<span><i class="fi-clock">{{ fields['created'].content}}</i></span>

</p>
<p>{{ fields['body'].content}}</p>
<p>{{ fields['view_node'].content}}</p>
</div>
</div>
<hr>
